__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

.vscode/

datasets/
weights/
output/
outputs/
outputs++/
wandb/
*.ckpt
*.pt
*.pth
*.safetensors

*.zip
*.tar
*.tar.gz
